@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bgcolor: #fff;
  --txt: #212121;
  --formbg: #ffffff;
  --txtcor: #212121;
  --border: #eeeeee;
  --cor: #8400ff;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bgcolor);
  min-width: 320px;
  min-height: 96dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.loginSection {
  -webkit-box-shadow: 0px 0px 18px 3px rgb(129, 129, 129);
  -moz-box-shadow: 0px 0px 18px 3px rgb(129, 129, 129);
  box-shadow: 0px 0px 18px 3px rgb(129, 129, 129);
}

.loginContent {
  display: flex;
  flex-direction: row;
}

.loginLead {
  color: #fff;
  background: url(../assets/img1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 8rem 13rem 10rem 4rem;
  justify-content: space-between;
  height: 100%;
  gap: 5rem;
  position: relative;
  order: 1;
}

.loginLead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1;
}

.loginText h1 {
  font-size: 4rem;
  font-family: "Archivo", serif;
  line-height: 4rem;
  color: #fff;
  font-weight: 500;
}

.loginText h1 strong {
  display: block;
  font-family: "Archivo Black", sans-serif;
}

.loginForm {
  background-color: var(--formbg);
  padding: 10rem 0;
}

.loginInfos {
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
  gap: 10px;
}

/*inputs*/

.formHead {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.formControl {
  position: relative;
  border: 0.5px solid var(--border);
  border-radius: 2px;
  width: 100%;
  background-color: var(--formbg);
  transition: border-color 0.3s ease;
}

.formControl:focus-within {
  border-color: var(--cor);
}

.formControl > input {
  border: none;
  padding: 1.9rem 6rem 0.7rem 1.3rem;
  background-color: var(--formbg);
  color: var(--txt);
  outline: none;
}

.formControl.active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: var(--cor);
}

.formControl label {
  position: absolute;
  top: 50%;
  left: 1.3rem;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--txt);
  pointer-events: none;
  transition: 0.3s ease;
}

.formControl input:focus ~ label,
.formControl input:valid ~ label {
  top: 33%;
  background-color: var(--formbg);
}

/*form footer*/

.formFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 5px 10px;
  font-size: 12px;
}

.formFooter a {
  text-decoration: none;
  color: var(--cor);
}

.formFooter .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.formFooter .checkbox input {
  width: 18px;
  height: 18px;
  border: 2px solid var(--txt);
  border-radius: 4px;
  background-color: var(--bgcolor);
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.formFooter .checkbox input:checked {
  background-color: var(--cor);
  border-color: var(--cor);
}

.formFooter .checkbox input:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.formFooter .checkbox input:hover {
  border-color: #6b6b6b;
  background-color: rgba(145, 0, 255, 0.2);
}

.formFooter .checkbox label {
  color: var(--txt);
}

/*button*/

.btnSign {
  cursor: pointer;
  border: none;
  padding: 1rem 0;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
  font-family: "Archivo Black", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: var(--cor);
  color: #fff;
}

.btnSign:hover {
  background-color: #7000cc;
  transition: 0.3s ease-in-out;
  color: #ffffff;
}

.buttonLayout {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.buttonLayout a {
  font-size: 12px;
  color: var(--txt);
}

.buttonLayout span {
  color: var(--cor);
}
