@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bgcolor: #fff;
  --txt: #212121;
  --formbg: #fcfcfc;
  --txtcor: #212121;
  --border: #e2e2e2;
  --cor: #8400ff;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  background-color: #e2e2e2;
  overflow: hidden;
  min-width: 380px;
  min-height: 96dvh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center; 
  transition: background-color 0.3s ease-in-out;
}

#root {
  margin: 0;
  padding: 0;
}

.loginSection {
  flex-wrap: wrap;
  padding: 10px;
}

.loginContent {
  display: flex;
  flex-direction: row;
}

.loginLead {
  color: #fff;
  background: url(../assets/img1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 4rem 13rem 6rem 4rem;
  justify-content: space-between;
  height: 100%;
  min-height: 30rem; 
  position: relative;
  order: 1;
  border-radius: 0 10px 10px 0;
}

.loginText h1 {
  font-size: 4rem;
  font-family: "Archivo", serif;
  line-height: 4rem;
  color: #fff;
  font-weight: 500;
  padding-bottom: -10rem;
}

.loginText h1 strong {
  display: block;
  font-family: "Archivo Black", sans-serif;
}

.loginText p {
  white-space: pre-line;
  margin-bottom: -8px;
}

.loginForm {
  background-color: var(--bgcolor);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginInfos {
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
  gap: 10px;
}



/*inputs*/

.formHead {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 1rem;
}

.buttonContainer button {
  border: 0.5px solid var(--border);
  border-radius: 5px;
  padding: .8rem 2rem;
  background-color: var(--formbg);
  color: var(--txt);
  cursor: pointer;
  transition: .3s ease-in-out;
  font-size: 14px;  
  width: 100%;
  font-family: "Archivo", serif;
}

.buttonContainer button.active {
  background-color: var(--cor);
  color: #fff;
  transition: .3s  ease-in-out;
  font-weight: 700;
}

.buttonContainer button:hover {
  border-color: var(--cor);
  transition: .3s ease-in-out;
}

.formControl {
  position: relative;
  border-radius: 2px;
  background-color: var(--formbg);
  transition: border-color 0.3s ease;
}

.formControl > input:focus-within {
  border-color: var(--cor);
}

.formControl > input {
  border: 0.5px solid var(--border);
  padding: 1.7rem 4rem 0.6rem 1.2rem;
  background-color: var(--formbg);
  color: var(--txt);
  outline: none;
  border-radius: 5px;
  width: 13rem;
  transition: .3s ease-in-out;
  margin-bottom: 5px;
}

.formControl > input:hover {
  border-color: var(--cor);
  transition: .3s ease-in-out;
}

.formControl.active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: var(--cor);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.formControl label {
  position: absolute;
  top: 50%;
  left: 1.3rem;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--txt);
  pointer-events: none;
  transition: 0.3s ease;
}

.formControl input:focus ~ label,
.formControl input:valid ~ label {
  top: 33%;
  font-size: 10px;
}

.formControl i {
  cursor: pointer;
  position: absolute;
  top: 38%;
  color: var(--cor);
  font-size: .95rem;
  right: 1rem;
}

.errorMessage {
  font-size: 12px;
  color: rgba(255, 21, 21, 0.76);
}

/*form footer*/

.formFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 5px 10px;
  font-size: 12px;
}

.formFooter a {
  text-decoration: none;
  color: var(--cor);
}

.formFooter a:hover {
  text-decoration: underline;
}

.formFooter .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.formFooter .checkbox input {
  width: 18px;
  height: 18px;
  border: 2px solid var(--txt);
  border-radius: 4px;
  background-color: var(--bgcolor);
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.formFooter .checkbox input:checked {
  background-color: var(--cor);
  border-color: var(--cor);
}

.formFooter .checkbox input:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.formFooter .checkbox input:hover {
  border-color: #6b6b6b;
  background-color: rgba(145, 0, 255, 0.2);
}

.formFooter .checkbox label {
  color: var(--txt);
}


@media (max-width: 1100px) {
  .loginLead {
    padding: 5.5rem 5rem 5rem 4rem;
  }
  .loginInfos {
    padding: 0 3.5rem;
  }
}

@media (max-width: 950px) {
  .loginLead {
    padding: 5.5rem 3rem 5rem 3.5rem;
  }
  .loginInfos {
    padding: 0 3rem;
  }
}

@media (max-width: 950px) {
  .loginLead {
    padding: 5.5rem 3rem 5rem 3rem;
  }
  .loginInfos {
    padding: 0 2.5rem;
  }
}

@media (max-width: 768px) {
  .loginContent {
    flex-direction: column;
  }

  .loginLead {
    min-height: auto;
    order: 2;
    display: none;
    border-radius: 10px;
  }

  .loginForm {
    padding: 5rem 0;
    border-radius: 10px;
  }

  .loginInfos {
    padding: 0 3.7rem;
  }

  .formControl > input {
    width: 20rem;
  }
  
  .btnSign {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .formControl > input {
    width: 16rem;
  }
  
}

@media (max-width: 480px) {
  .formControl > input {
    width: 13rem;
  }
}

@media (max-width: 450px) {
  .loginInfos {
    padding: 0 2.5rem;
  }
  .formControl > input {
    width: 15.5rem;
  }
}

@media (max-width: 425px) {
  .loginInfos {
    padding: 0 2.3rem;
  }
  .formControl > input {
    width: 14rem;
  }
}

@media (max-width: 400px) {
  .loginInfos {
    padding: 0 1.8rem;
  }
  .formControl > input {
    width: 14rem;
  }
}

@media (max-width: 385px) {
  .loginInfos {
    padding: 0 1.8rem;
  }
  .formControl > input {
    width: 13.5rem;
  }
}


/*button*/

.btnSign {
  cursor: pointer;
  border: none;
  padding: 1rem 0;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
  font-family: "Archivo Black", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: var(--cor);
  color: #fff;
}

.btnSign:hover {
  background-color: #7000cc;
  transition: 0.3s ease-in-out;
  color: #ffffff;
}

.buttonLayout {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.buttonLayout a {
  font-size: 12px;
  color: var(--txt);
}

.buttonLayout a:hover {
  text-decoration: underline;
}

.buttonLayout span {
  color: var(--cor);
}


/*reset password*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}

.modalFooter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalFooter input {
  padding: 1rem .9rem ;
  margin-bottom: 10px;
  border: .5px solid var(--border);
  outline: none;
  border-radius: .5rem;
}

.modalFooter > input:focus-within {
  border: .5px solid var(--cor);
}

.modalFooter{
  display: flex;
  gap: 10px;
}

.modalFooter button {
  padding: 15px;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  background-color: var(--cor);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: .7rem;
}

.modalFooter button:hover {
  transition: 0.3s ease-in-out;
  background-color: #7000cc;
}

.modalFooter .image{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .modalContent {
    max-width: 25rem;
  }
}
@media (max-width: 500px) {
  .modalContent {
    max-width: 22rem;
  }
}
@media (max-width: 390px) {
  .modalContent {
    max-width: 20rem;
  }

  .modalContent p {
    font-size: .9rem;
  }

  .modalContent h2 {
    font-size: 1.3rem;
  }
}